body{
    margin: 0;
    background-color: #15202B;
}
.navBar {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 1076px;
    height: 58px;
    background: #343A40;
    border-radius: 6px;
    
}
.home, .homeUnselected{
    margin: 19px 0 23px 35.87px; 
    width: 38px;
    height: 16px;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.homeUnselected {
    color: rgba(255, 255, 255, 0.5);
}
.profile, .profileUnselected {
    margin: 19px 0 23px 80.87px;
    width: 41px;
    height: 16px;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.profile:hover, .profileUnselected:hover, .home:hover, .homeUnselected:hover {
    cursor: pointer;
}

.profileUnselected {
    color: rgba(255, 255, 255, 0.5);
} 
.yourListSelected, .yourListUnselected {
    margin-top: 10px;
    margin-left: 8rem;
    font-size: 20px;
    padding: 10px;
    color: white;
    background-color: #343A40;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    border-radius: 10px;
}

.yourListUnselected {
  
    color: #343A40;
    background-color: white;
 
}


@media screen and (max-width: 1100px) {

  
    .navBar {
        width: 800px;
        height: 58px;
    }
    .signOut {
        margin-left: 500px; 
       
    }
    

}

@media screen and (max-width: 800px) {

  
    .navBar {
        width: 600px;
        height: 58px;
    }
    .signOut {
        margin-left: 300px; 
       
    }
    

}

@media screen and (max-width: 650px) {

  
    .navBar {
        width: 400px;
        height: 58px;
    }
    .signOut {
        margin-left: 150px; 
       
    }

}

@media screen and (max-width: 400px) {

  
    .navBar {
        width: 300px;
        height: 58px;
    }
    .home, .homeUnselected{
        margin: 19px 0 23px 35.87px; 
        width: 38px;
        height: 16px;
        font-size: 14px;
        line-height: 16px; 
    }

    .profile, .profileUnselected {
        margin: 19px 0 23px 80.87px;
        width: 41px;
        height: 16px;
        font-size: 14px;
        line-height: 16px;
    }
    .signOut {
        margin-left: 50px; 
       
    }

}

