# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/react-chat-assignemnt/node_modules
/react-chat-assignemnt/.pnp
/react-chat-assignemnt.pnp.js
/micro-blogging-react-project-2-EfraimDim.git
/.github
/react-chat-assignemnt/.firebase
/react-chat-assignemnt/.firebaserc
/react-chat-assignemnt/package-lock.json



# testing
/coverage

# production
/react-chat-assignemnt/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
